<% if notice %>
  <div id="info-alert" class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <script>
    setTimeout(function() {
      document.getElementById('info-alert').style.display = 'none';
    }, 2000);
  </script>
<% end %>

<% if alert %>
  <div id="warning-alert" class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <script>
    setTimeout(function() {
      document.getElementById('warning-alert').style.display = 'none';
    }, 2000);
  </script>
<% end %>
