<%
  show_navbar = true

  # controller_name, action_name and current_page? are helpers you can use to render/do stuff conditionally
  show_navbar = false if controller_name == "admin_sessions" || current_page?(root_path) || action_name == "new" || action_name =="edit"

%>

<% if show_navbar %>

  <div class="container d-flex justify-content-between align-items-center">


    <h1>Wake 4 Life</h1>
    <%= link_to 'Admin Login', admin_sessions_new_path %>
    <% if session[:admin] %>
      <%= button_to 'Admin Logout', logout_admin_path, method: :delete %>
    <% end %>
    <%= link_to cart_path(@cart) do %>
      <i class="fa-solid fa-cart-shopping"></i>
    <% end %>
  </div>




<% end %>
