.footers {
  text-align: center;
  padding: 60px;

}

ul {
  padding: 0;
}

.footer {
  display: inline-block;
  margin: 5px auto;
  padding: 3px 8px;
}

i {
  font-size: 40px;
  color: #1EDD88;
}

.footer p {
  color: #6B6C6C;
}
